VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_APP_MODE=local
VITE_DEFAULT_DEVICE=cuda
VITE_ALLOWED_DEVICES=cpu,cuda
VITE_DEFAULT_MODEL_TYPE=ss
VITE_DEFAULT_SENSOR=hyperion
VITE_SHOW_SERVER_PATH_INPUTS=true
VITE_SHOW_DEPLOY_CONFIG_INPUT=true
VITE_SHOW_ADVANCED_OVERRIDES=true
