__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.env
.venv/
venv/
dist/
build/
*.egg-info/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

models/checkpoints/*
!models/checkpoints/.gitkeep

results/
logs/
